.bg-1{
	background-color:rgb(147,177,226);
	color:white;
}

.bg-2{
	background-color:#505968;
	color:white;
}

.bg-3{
	background-color:white;
	color:#505968;
}

.img-25{
	width:25%;
	height:25%;
}

.container-fluid{
	padding:4%;
}

h2{
	padding:10px;
}

.row{
	background-color:black;
}

.links{
	background-color:black;
	color:gray;
}