.bg1{
	background-color:rgb(147,177,226);
	color:white;
}

.bg2{
	background-color:#505968;
	color:white;
}

.bg3{
	background-color:white;
	color:#505968;
}

.row{
	background-color:black;
}

.links{
	background-color:black;
	color:gray;
}